.homepage {
    margin: 0 auto;
    border: solid 2px;
    padding: 28px;
    border-radius : 5px;
    width: 750px;
}

.buton{
	margin-top: 5px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.scores{
	color: black;
    font-family: Arial
}